window[shellshowingmenubar="true"] menubar {
  display: none ! important;
}

window[shellshowingmenubar="true"] toolbar:not([customizing="true"]) {
  min-height: 0 !important;
  border: 0 !important;
}
